<div class="jumbotron center" >    <!--encierra los elementos en un margen center una clase llamada desde boststrap.css -->
  <h1>Bienvenido a mi aplicacion</h1>
  <%= link_to"Iniciar sesíon", "#", class: 'btn btn-default btn-lg' %>
  <%= link_to"Registrate", "#", class: 'btn btn-primary btn-lg' %>

 </div>
