<div class="jumbotron center" >    <!--encierra los elementos en un margen center una clase llamada desde boststrap.css -->
  <h1>Welcome on Board  ;)</h1>
<%= image_tag "logo.png"%>
  <%if user_signed_in? %>
<!--hacer algo-->
<% else %>
  <%= link_to"Registrate", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
  <% end %>

 </div>
